.continue-btn {
  position: absolute;       
  top: 90%;          
  left: 50%;            
  transform: translate(-50%, -50%);  
  background-color: #3700ff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.continue-btn:hover {
  display: flex;
  align-items: center;
  background-color:#0056b3;
}
